@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;400&family=Roboto:wght@400;500&display=swap');

:root {
    --row1: 70px;
    --row2: 40px;
    --navBarHeight: 5em;
    --defaultTextColor: black;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    /* color: white; */
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    position: relative;
}
